<div class="yeogurt-info">
  <h1>My topics challenge!</h1>
  <div id="topics-cloud"></div>
  <div id="topic-detail"></div>
  <p class="links">
    <a href="/docs/styleguide/index.html" data-bypass>Styleguide</a>
    <a href="/docs/api/index.html" data-bypass>API</a>
  </p>
</div>
<code class="version">v0.14.6</code>
